

.tabs{
    margin-bottom: 50px;
}

.tabs .tab {
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    /* box-shadow: 3px 6px 12px rgba(0,0,0,0.09); */
    padding: 8px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .tabs .tab.active {
    color: #009EF7;
    background-color: rgb(238, 250, 255);
    border-bottom: 3px solid #009EF7;
  }

  .tab-content{
    margin-bottom: 30px;
  }
  
.tab1s{
    margin-bottom: 10px;
}

.tab1s .tab1 {
    background-color: white;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 8px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .tab1s .tab1.active {
    color: #009EF7;
    border-bottom: 3px solid #009EF7;
  }


  .tab1-content{
    margin-bottom: 30px;
  }
.tab2s{
    margin-bottom: 10px;
}

.tab2s .tab2 {
    background-color: white;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 8px;
    margin-right: 10px;
    /* margin-bottom: -20px; */
    cursor: pointer;
  }
  
  .tab2s .tab2.active {
    /* background-color: #000; */
    color: #009EF7;
    border-bottom: 3px solid #009EF7;
  }


  .tab2-content{
    margin-bottom: 30px;
  }